<div>
  <%= case @live_action do
    :home -> live_component(%{module: Home, locale: @locale, id: 1})
    :contact -> live_component(%{module: Contact, locale: @locale, id: 1})
    :why_us -> live_component(%{module: WhyUs, locale: @locale, id: 1})
    :facilities -> live_component(%{module: Facilities, locale: @locale, id: 1})
    :fleet -> live_component(%{module: Fleet, locale: @locale, id: 1})
    :faq -> live_component(%{module: Faqs, locale: @locale, id: 1})
  end %>
</div>
